<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team404.sns.mapper.SnsBoardMapper">

	<insert id="regist">
		insert into snsboard(bno,writer,content,fileloca,filename,filerealname)
		values(snsboard_seq.nextval,#{writer},#{content},#{fileLoca},#{fileName},#{fileRealName})
	</insert>

</mapper>
